frontend/frontend_env/*
backend/backend_env/*
backend/app/.env
db/db_env/*
*/__pycache__/*
*/*/*.pyc
*/*/*.pyc
frontend/user_identity.json
db/neurosketch.db

# Ignore all .env files
*/*.env
*/*__pycache__/*
# Ignore all .DS_Store files
*.DS_Store

##Ignore egg files
*.egg-info